<head>
    <title>Celebrities</title>

    <meta charset="utf-8" />

    <!-- this is for IE. It says which version of IE is used to render
         IE=edge sets allways the highest version available
         chrome=1 instructs IE to use chrome plugin if available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <!-- Sets the viewport, i.e. whether the view is zoomed -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>