<template name="atNavCustomButton">
    {{#if currentUser}}
        <div class="ui simple dropdown item">
            {{userName}}
            <i class="dropdown icon"></i>

            <div class="menu">
                <div class="header">User options</div>
                <a class="item" href="{{pathFor route='atChangePwd'}}">Change password</a>
                <a class="item">View / Edit profile</a>
                <div class="item"><div class="ui negative button" id="at-nav-button">{{text}}</div></div>
            </div>
        </div>
    {{else}}
        <div class="item">
            <div class="ui primary button" id="at-nav-button">{{text}}</div>
        </div>
    {{/if}}
</template>