<template name="errors">
    <div class="floating errors">
        {{#each errors}}
            {{> error}}
        {{/each}}
    </div>
</template>

<template name="error">
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Unexpected error happened
        </div>
        <p>{{message}}</p>
    </div>
</template>