<template name="header">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="{{pathFor 'gameMenu'}}" class="header item">
                <h1>C</h1>
                elebrities
            </a>
            <div class="right menu">{{> atNavCustomButton align="right"}}</div>
        </div>
    </div>
</template>