<template name="layout">
    {{> header}}
    <div class="ui main container">
        {{#if Template.subscriptionsReady}}
            {{> yield}}
        {{else}}
            {{>loading}}
        {{/if}}
    </div>
    {{> errors}}
</template>