<template name="gameResult">
    <div class="ui segment">
        <h2 class="ui title">Result</h2>
        <table class="ui unstackable table">
            <thead>
            <th></th>
            <th>First phase</th>
            <th>Second phase</th>
            <th>Third phase</th>
            </thead>
            <tbody>
            {{#each results}}
                <tr>
                    <td>
                        <div class="ui {{teamColor team}} ribbon label">
                            {{team}}
                            <div class="detail">{{totalScore}}</div>
                        </div>
                    </td>
                    <td>{{firstPhaseScore}}</td>
                    <td>{{secondPhaseScore}}</td>
                    <td>{{thirdPhaseScore}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>