<template name="gameReview">
    {{#if Template.subscriptionsReady}}
    <div class="ui segment">
        <h1 class="ui title">End of the game</h1>

        {{> gameResult}}

        <div class="ui segment">
            <h2 class="ui title">All names</h2>
            <table class="ui unstackable table">
                <thead>
                    <tr>
                        <th>Name / Creator</th>
                        <th>First round</th>
                        <th>Second round</th>
                        <th>Third round</th>
                    </tr>
                </thead>
                <tbody>
                {{#each cards}}
                <tr>
                    <td><strong>{{name}}</strong>
                        <p>
                            {{#each playerIds}}
                            <div class="ui {{playerTeamColor}} tiny label">{{playerNameById this}}</div>
                            {{/each}}
                        </p>
                    </td>
                    <td><span class="ui {{teamThatWonColor "first"}} tiny label">{{playerName "firstPhaseWonByPlayerId"}}</span></td>
                    <td><span class="ui {{teamThatWonColor "second"}} tiny label">{{playerName "secondPhaseWonByPlayerId"}}</span></td>
                    <td><span class="ui {{teamThatWonColor "third"}} tiny label">{{playerName "thirdPhaseWonByPlayerId"}}</span></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <button id="nextPhase" class="ui positive icon button">
            <i class="angle left icon"></i>
            Back to main menu
        </button>
    </div>
    {{/if}}
</template>