<template name="guessing">
        {{#if userGuessing}}
            <div class="ui segment">
                <div>
                    {{#if isFirstPhase}}
                    <p>Explain using as much words as possible, sounds or charades:</p>
                    {{/if}}
                    {{#if isSecondPhase}}
                        <p>Explain using <strong>only one word</strong>, sounds or charades:</p>
                    {{/if}}
                    {{#if isThirdPhase}}
                        <p>Explain using <strong>only</strong> sounds or charades:</p>
                    {{/if}}
                    <div class="ui segment">
                        <strong>{{cardName}}</strong>
                    </div>
                    <p><span><strong>{{currentTime}}</strong> seconds left!</span><span class="right floated"><strong>{{remainingCards}}</strong> cards left!</span></p>
                </div>
                <button class="ui positive guess ok button">Guessed!</button> <!-- class cannot be guess right because button below will call the same event, too -->
                {{#unless isFirstPhase}}<button class="ui negative guess wrong right floated button">Skip / Wrong</button>{{/unless}}
            </div>
        {{else}}
            <div class="ui segment">
                <div class="ui segment">
                    <p><strong>{{currentTime}}</strong> seconds left!</p>
                    <p><strong>{{playerName}}</strong> is giving hints. If you are on their team <strong>STOP LOOKING AT THE PHONE!!</strong></p>
                    <p>If you are on opposite team you can still look at them and have fun... or you can check guessed names and dispute some if necessary.</p>
                    <p>Please, <strong>do not discuss</strong> while the clock is ticking. That's why we are showing you these guesses with nice big red buttons on their side.</p>
                    <table class="ui table">
                        <tbody>
                            {{#each guesses }}
                                <tr><td>{{name}}</td><td class="collapsing">{{#unless disputed}}<button class="ui negative dispute button">Dispute</button>{{else}}Disputed!{{/unless}}</td></tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/if}}
</template>