<template name="newTeam">
    <div class="four wide column">
        <h3 class="ui header">Add new team...</h3>
        <div class="ui sortable list">
            {{#dndList items=players options=teamSortableOptions}}
                <div class="item">
                    {{>player}}
                </div>
            {{/dndList}}
        </div>
        {{#if addingNewTeam}}
            <form id="addTeam" class="ui form">
                <div class="field">
                    <input type="text" name="teamName" placeholder="Team name">
                </div>
                <div class="ui buttons">
                    <button class="ui button" type="submit">Add team</button>
                    <button id="cancelAdd" class="ui negative button" >Cancel</button>
                </div>
            </form>
        {{/if}}
    </div>
</template>