<template name="participants">
    <div class="ui padded segment">
        <h2 class="ui header">Participants</h2>

        <div class="ui stackable grid">
            <div class="row">
                <div class="column">
                    <div class="ui stackable grid">
                        {{#each users}}
                            <div class="four wide column">
                                <div class="ui label" style="width:100%">
                                    <i class="user icon"></i> {{username}}
                                </div>
                            </div>
                        {{/each}}
                        {{#each anonymousConnectionIds}}
                            <div class="four wide column">
                                <div class="ui label" style="width:100%">
                                    <i class="help circle icon"></i> <em>Anonymous</em>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="ui form" id="invite">
                    <div class="inline fields">
                        <div class="field">
                            <input type="text" name="userName" placeholder="Username">
                        </div>
                        <div class="field">
                            <button class="ui button" type="submit">Invite user</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="four wide column">
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input id="public_joining_allowed" type="checkbox" name="gift" tabindex="0"
                                   checked="{{preferences.publicJoiningAllowed}}">
                            <label>Allow joining by id</label>
                        </div>
                    </div>
                </div>
                {{#if preferences.publicJoiningAllowed}}
                    <div class="twelve wide column">
                        <div class="ui large blue image label">
                            <i class="share icon"></i>Game code
                            <div class="detail">{{preferences.joiningId}}</div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>