<template name="phaseReview">
    {{#if Template.subscriptionsReady}}
        <div class="ui segment">
            <h1 class="ui title">End of the {{phaseNumber}} phase</h1>

            {{> gameResult }}

            <div class="ui segment">
                <h2 class="ui title">All names</h2>
                <table class="ui unstackable table">
                    <thead>
                        <tr>
                            <th>Card</th>
                            <!--<th>Creator</th>-->
                            <th colspan="2">Won by</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each cards}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{playerName ../phaseNumber}}</td>
                            <td>
                                <div class="ui {{teamThatWonColor ../phaseNumber}} right ribbon label">{{teamThatWonName ../phaseNumber}}</div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <button id="nextPhase" class="ui positive icon button">
                <i class="play icon"></i>
                Next phase
            </button>
        </div>
    {{/if}}
</template>