<template name="pickingCards">
    {{#unless currentPlayer}}
        <div class="ui segment">
            <h1 class="ui header">Picking cards</h1>

            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th class="ten wide">Player</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each players}}
                    <tr>
                        <td>
                            <div class="ui {{teamColor teamName}} ribbon label">{{teamName}}</div>
                            {{playerName}}
                        </td>
                        <td>{{pickedCards _id}}/{{numberOfCards}}</td>
                        <td><button id="startPicking" class="ui positive button">Start picking</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <button id="done" class="ui positive icon button {{#unless canBeDone}}disabled{{/unless}}">
                <i class="play icon"></i>
                Done
            </button>
        </div>
    {{else}}
        {{> playerPickingCards currentPlayer}}
    {{/unless}}
</template>