<template name="player">
    <div class="item">
        <div class="ui raised segment">
            <div class="ui grid">
                <div class="player in team ten wide column">{{playerName}}</div>
                <div class="right floated column">
                    <button class="ui negative mini icon remove player button">
                        <i class="remove icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>