<template name="playerPickingCards">
    <div class="ui segment">
        <h1 class="ui header">Picking cards</h1>
        <div class="ui {{teamColor teamName}} large ribbon label">{{playerName}} - {{teamName}}</div>
        <div class="ui segment">
            <form id="addCard" class="ui form" autocomplete="off">
                <div class="inline fields">
                    <label>Name</label>
                    <div class="field">
                        <input id="cardName" type="text" name="cardName" placeholder="Enter name" autocomplete="off">
                    </div>
                    <button type="submit" class="ui button {{#unless canEnter}}disabled{{/unless}}">Add</button>
                </div>
            </form>
            <div class="ui gamecard picking indicating progress" data-total="{{numberOfCardsPerPlayer}}" id="progress">
                <div class="bar">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="ui four column stackable grid">
                {{#each cards}}
                    <div class="column">
                        <div class="ui raised segment">
                            <div class="ui grid">
                                <div class="ten wide column">{{name}}</div>
                                <div class="right floated column">
                                    <button class="ui negative mini icon remove name button">
                                        <i class="remove icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>

        </div>

        <button class="ui positive button {{#unless canComplete}}disabled{{/unless}}" id="finish">Done</button>
    </div>

</template>