<template name="roundReview">
        <div class="ui segment">
            {{#unless isThereAnythingToDo}}
                {{#if isUserGuessing}}
                    <div class="ui segment">
                        Nothing to do here. No disputes you need to resolve. Review the list of wrong guesses to see if you need to make a correction or... Finish this round!
                    </div>
                {{else}}
                    <div class="ui segment">
                        Nothing to do here. No corrections. Review the list of guessed names to check whether some name does not belong there or... wait for the current player to finish the round.
                    </div>
                {{/if}}
            {{/unless}}
            {{#if isThereAnyDisputes}}
            <div class="ui segment">
                <h2 class="ui title">Disputes</h2>
                {{#if isUserGuessing}}
                    <p>
                        Review the names on this list and accept or reject any disputes after discussion.
                    </p>
                {{else}}
                    <p>
                        Player on turn must accept or reject active disputes after discussion.
                    </p>
                {{/if}}
                <table class="ui table">
                    <tbody>
                    {{#each disputes }}
                        <tr>
                            <td>{{name}}</td>
                            {{#if isUserGuessing}}
                            <td class="collapsing"><button class="ui negative dispute accept button">Okay, let you have it... it was wrong</button></td>
                            <td class="collapsing"><button class="ui positive dispute reject button">No, this guess was correct</button></td>
                            {{/if}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}
            {{#if isThereAnyCorrection}}
            <div class="ui segment">
                <h2 class="ui title">Corrections</h2>
                <p>Any other player except the current player must accept or reject corrections</p>
                <table class="ui table">
                    <tbody>
                    {{#each corrections }}
                        <tr>
                            <td>{{name}}</td>
                            {{#unless isUserGuessing}}
                            <td class="collapsing"><button class="ui positive correction accept button">Okay, you guest it</button></td>
                            <td class="collapsing"><button class="ui negative correction reject button">No, it was not guessed right</button></td>
                            {{/unless}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}
            {{#if isThereAnyWrongs}}
                {{#if isUserGuessing}}
                <div class="ui segment">
                    <h2 class="ui title">Wrong / skipped names</h2>
                    <p>If you mis-clicked or if your team guessed the last name in time, but you were late to click it, you can propose corrections to some skipped or wrongly guessed names</p>
                    <table class="ui table">
                        <tbody>
                        {{#each wrongs }}
                            <tr>
                                <td>{{name}}</td>
                                <td class="collapsing"><button class="ui positive correction propose button">Correction</button></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
            {{/if}}
            <div class="ui segment">
                <h2 class="ui title">Guessed names</h2>
                {{#if isUserGuessing}}
                    <p>
                        These are the names your team guessed right.
                    </p>
                {{else}}
                    <p>
                        Review list of correct guesses. Maybe current player missclicked and now you can see a name on the list that surely was not guessed. Now's your chance to correct it.
                    </p>
                {{/if}}
                <table class="ui table">
                    <tbody>
                    {{#each corrects }}
                        <tr>
                            <td>{{name}}</td>
                            {{#unless isUserGuessing}}
                            <td class="collapsing"><button class="ui positive dispute button">Dispute</button></td>
                            {{/unless}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            {{> gameResult currentScore }}

            {{#if isUserGuessing}}
                <button class="ui positive finish button {{finishButtonDisabled}}">Finish round</button>
            {{/if}}
        </div>
</template>