<template name="rules">
    <div class="ui padded segment">
        <h2 class="ui header">Rules</h2>

        <div class="ui grid">
                <form class="ui form {{error}}" >
                    <div class="inline fields">
                        <div class="field {{error}}">
                            <label>Total number of cards</label>
                            <input type="text" name="totalNumberOfCards" placeholder="Enter number" value={{preferences.totalNumberOfCards}}>
                        </div>
                    </div>
                    <div class="ui horizontal divider">
                        or
                    </div>
                    <div class="inline fields">
                        <div class="field {{error}}">
                            <label>Number of cards per player</label>
                            <input type="text" name="numberOfCardsPerPlayer" placeholder="Enter number" value={{preferences.numberOfCardsPerPlayer}}>
                        </div>
                    </div>
                    {{#if error}}
                    <div class="ui error message">
                        <div class="header">Please check entered data</div>
                        <p>{{errorMessage}}</p>
                    </div>
                    {{/if}}
                    <!-- TODO remove unless when implemented -->
                    {{#unless true}}
                    <div class="ui horizontal divider">
                        which
                    </div>
                        <div class="grouped fields">
                            <div class="field">
                                <div class="ui slider checkbox">
                                    <input class="selectionMethod" value="entering" type="radio" name="selectionMethod" {{selectionMethodByEntering}}>
                                    <label>...are entered by players</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui slider checkbox">
                                    <input id="a" class="selectionMethod" value="picking" type="radio" name="selectionMethod" {{selectionMethodByPicking}}>
                                    <label>...players pick from randomly dealt cards</label>
                                </div>
                            </div>
                        </div>
                    {{/unless}}
                </form>
        </div>
    </div>
</template>