<template name="settingPlayers">
    <div class="ui segment">
        <h1 class="ui header">Players and teams</h1>

        <div class="ui segment">
            {{#unless isUserEntered}}
                <form id="join" class="ui form">
                    <div class="inline fields">
                        <div class="field">
                            <input id="myName" type="text" name="playerName" placeholder="My name" value={{myName}}>
                        </div>
                        <div class="field">
                            <button class="ui button {{#unless canEnterMyself}}disabled{{/unless}}" type="submit">Join</button>
                        </div>
                    </div>
                </form>
                <div class="ui horizontal divider">OR</div>
            {{/unless}}
            <form id="addGuest" class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <input id="guestName" type="text" name="playerName" placeholder="Guest name">
                    </div>
                    <div class="field">
                        <button class="ui button {{#unless canEnterGuest}}disabled{{/unless}}" type="submit">Add guest</button>
                    </div>
                </div>
            </form>
            <div class="ui horizontal divider">Teams</div>
            <div class="ui stackable grid">
                {{#each teams}}
                    {{#unless isTeamPlaceholder}}
                        {{> team }}
                    {{else}}
                        {{> newTeam }}
                    {{/unless}}
                {{/each}}
            </div>
        </div>

        <button id="start" class="ui positive icon button">
            <i class="play icon"></i>
            Start
        </button>
    </div>
</template>