<template name="settingUp">
    {{> gameItem}}
    {{#if isGameCreator}}
        <div class="ui segment">
            <h1 class="ui header">Manage</h1>
            {{>participants}}
            {{>rules}}

            <button id="done" class="ui positive icon button">
                <i class="checkmark icon"></i>
                Done
            </button>
            <button id="delete" class="ui negative icon button">
                <i class="delete icon"></i>
                Delete
            </button>
        </div>
    {{else}}
        <div class="ui segment">Please wait while game creator sets up the game.</div>
    {{/if}}
</template>