<template name="team">
    <div class="four wide column">
        <h3 class="ui header">{{teamName}}</h3>
        <div class="ui sortable list">
            {{#dndList items=players options=teamSortableOptions}}
                {{>player}}
            {{/dndList}}
        </div>
    </div>
</template>