<template name="usersSelectingPlayerOrder">
        <div class="ui segment">
            <h1 class="ui header">Select next player</h1>

            <div class="ui segment">
                <div class="ui grid">
                    {{#each orderCandidates}}
                        <div class="eight wide column">
                            <div class="ui raised segment player">
                                <span class="ui {{teamColor teamName}} ribbon label">{{teamName}}</span>
                                {{playerName}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

            <button id="random" class="ui positive icon button">
                <i class="random icon"></i>
                Randomize
            </button>
        </div>
</template>