<template name="waitingUserAcceptPlay">
    {{#if Template.subscriptionsReady}}
        <div class="ui segment">
            <h1 class="ui header">{{playerName}}'s turn</h1>

            <p>If you are {{playerName}}, click on "I'm ready" when you are!</p>

            <p>If you are not {{playerName}} wait until they are ready or pass them the device if they don't have any.</p>

            <button id="playerReady" class="ui positive icon button">
                <i class="child icon"></i>
                I'm ready!
            </button>
        </div>
    {{/if}}
</template>