body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}

.text.aligned.right{
    text-align: right;
}

.floating.errors {
    position: fixed;
    right:10px;
    width: 300px;
    top: 70px;
}

.ui.sortable.list{
    min-height: 50px;
}

.remove.player{
    position: relative;
    right: 25px;
}

.remove.name{
    position: relative;
    right: 25px;
}

.player.in.team{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 17px !important;
}

.gamecard.picking.progress{
    margin-bottom: 1em !important;
}

span.right.floated{
    float:right;
}