<template name="gameItem">
    <div class="item game-item">
        <div class="ui segment">
            <h1 class="ui header">{{location}}</h1>
            <p>{{dateFromNow}}</p>
            <p class="text aligned right">created by <strong>{{creator}}</strong></p>
        </div>
    </div>
</template>