<template name="gameList">
    {{#if gameExists}}
    <div class="ui stackable four column grid">
        {{#each games}}
            <div class="ui column">
                {{> gameItem}}
            </div>
        {{/each}}
    </div>
    {{else}}
        No games played! Start playing at last!
    {{/if}}
</template>