<template name="gameMenu">
    <div class="ui container">
        <div class="ui segment">
            <div class="ui middle aligned very relaxed stackable grid">
                {{#if currentUser}}
                <div class="center aligned eight wide column">
                    <form id="start-game" class="ui form">
                        <div class="field">
                            <div class="ui left icon input">
                                <input name="location" type="text" placeholder="Enter location">
                                <i class="location arrow icon"></i>
                            </div>
                        </div>
                        <button type="submit" class="ui blue submit button {{#unless canStartAGame}}disabled{{/unless}}">Start a new game</button>
                    </form>
                </div>
                {{else}}
                <div class="center aligned eight wide column">
                    <p><a class="item" href="{{pathFor route='atSignIn'}}">Sign in</a> or <a class="item" href="{{pathFor route='atSignUp'}}">register</a> if you want to start a new game</p>
                </div>
                {{/if}}
                <div class="ui vertical divider">
                    Or
                </div>
                <div class="center aligned eight wide column">
                    <form id="join-game" class="ui form">
                        <div class="field">
                            <div class="ui left icon input">
                                <input name="gameCode" type="text" placeholder="Enter game code">
                                <i class="sign in icon"></i>
                            </div>
                        </div>
                        <button type="submit" class="ui blue submit button {{#unless canJoinGame}}disabled{{/unless}}">Join a game</button>
                    </form>
                </div>
            </div>
        </div>
        {{#if currentUser}}
        <div class="ui segment">
            <h1>Previous games</h1>
            {{> gameList}}
        </div>
        {{/if}}
    </div>
</template>